.head {
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;

  #download-pdf {
    padding: 10px 20px;
    background-color: var(--button-color);
    color: black;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 20px;
  }
}
.pdf-reports {
  height: 90%;
}
