@font-face {
  font-family: roboto;
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: lato;
  src: url("../font/Lato-Regular.ttf");
}
font-face {
  font-family: poppins;
  src: url("../font/poppins.ttf");
}
